$pv_red: #be3c50;
$pv_brick-red: #ff7d6e;
$pv_mustard-yellow: #ffc882;
$pv_green: #007364;
$pv_green-grass: #00cd78;
$pv_pastel-green: #c8ffe1;
$pv_off-white: #f2f2e9;
$pv_white: #fff;
$pv_black: #000;
$pv_slate: #465a64;
$pv_blue: #3237be;
$pv_baby-blue: #b9dcff;
$pv_light-periwinkle: #dcdce0;
$pv_hip-purple: #af9bff;
$break-small: 480px;
$break-medium: 768px;
$break-large: 1200px;