@import 'vars';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $pv_pastel-green;
  padding-top: 2em;
}

header#pv_header {
  background-color: $pv_green;
  text-align: center;
  padding: 2em;
  h2#calculatorTitle {
    font-size: 40px;
    font-weight: 400;
    font-family: "Source Sans Pro", sans-serif;
    color: $pv_white;
  }
}

main#pv_main {
  padding-top: 3em;
  #calculatorContainer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border: 2px solid $pv_brick-red;
    border-radius: 8%;
    width: fit-content;
    margin: 0 auto;
    padding: 1em 1.5em 2em;
    background-color: $pv_green;
    #pv_logo {
      width: 8em;
    }
    #calculatorHeader {
      margin-bottom: 1em;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      width: 100%;
      #btnClear {
        background-color: $pv_off-white;
        color: $pv_brick-red;
        font-weight: 600;
        border: none;
        border-radius: 6%;
        font-size: 26px;
        width: 2em;
        height: 1.8em;
        margin: 0.2em;
        &:focus {
          outline: none;
        }
        &:hover {
          background-color: $pv_light-periwinkle;
        }
      }
      #calculateViewer {
        color: $pv_off-white;
        border: 1px solid $pv_brick-red;
        font-size: 26px;
        width: 100%;
        padding: 0.4em;
        margin: 0.2em;
        text-align: right;
        vertical-align: middle;
      }
    }
    .calculatorBtn {
      border: 1px solid $pv_brick-red;
      border-radius: 8%;
      background-color: $pv_mustard-yellow;
      color: $pv_slate;
      font-weight: 400;
      font-size: 34px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      margin: 0.1em;
      width: 2em;
      height: 2em;
      cursor: pointer;
      &:focus {
        outline: none;
      }
      &:hover {
        border: 2px solid $pv_red;
      }
    }
    .btnNumber {
      background-color: $pv_brick-red;
    }
  }
}